.flight-form{
    max-width: 700px;
}

    .flight-form .input-group-addon{
        min-width: 60px;
    }
    .flight-form input,
    .flight-form button,
    .flight-form .input-group{
        margin-bottom: 10px;
    }
    .flight-form .ui-autocomplete-loading, .flight-form .loading{
        background: transparent url("../img/loading.gif") right center no-repeat;
    }
        .flight-form .nav>li>a.loading{
            padding-right: 30px;
        }

    .flight-form .flights-meta{
        text-align: center;
        padding: 20px;
        font-size: 22px;

    }
    .flight-form .port.arrival-port{
        float: right;
    }
    .flight-form .travel-line{
        width: calc(100% - 20px;);
        border-top:1px solid #ddd;
        position: relative;
        margin: 10px;
    }
    .flight-form .travel-line:before, .flight-form .travel-line:after{
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        border: 1px solid #ddd;
        border-radius: 50%;
        top: -5px;
        background-color: white;
    }
        .flight-form .travel-line:before{
            left: 0;
        }
        .flight-form .travel-line:after{
            right: 0;
        }
    .flight-form .time{
        font-size: 22px;
        font-weight: bold;
    }
    .flight-form .price{
        font-size: 22px;
        margin-top: 15px;
        padding: 30px;
        border-right:1px solid #ddd;
        text-align: center;
    }
        @media (max-width: 991px){
            .flight-form .price{
                border-right: none;
                border-bottom:1px solid #ddd;
                padding: 0;
                padding-bottom: 10px;
            }
        }