<!DOCTYPE html>
<html>
<head>
    <title>Flight Search (SibEDGE Pavel Denisov)</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="css/third-party/jquery-ui-bootstrap/jquery.ui.theme.css" />

    <link rel="stylesheet" href="css/flightform.css" />
</head>
<body>
    <div class="flight-form container">
        <div class="page-header">
            <h1>Flight Search Form</h1>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="from">Location</label>
                <div class="input-group">
                    <span class="input-group-addon">From</span>
                    <input id="from" type="text" class="form-control airport-location" placeholder="Sydney">
                </div>
            </div>
            <div class="col-md-4">
                <label for="to" class="hidden-xs hidden-sm">&nbsp;</label>
                <div class="input-group">
                    <span class="input-group-addon">To</span>
                    <input id="to" type="text" class="form-control airport-location" placeholder="Heathrow">
                </div>
            </div>
            <div class="col-md-4">
                <label for="date">Travel date</label>
                <input id="date" type="text" class="form-control" placeholder="YYYY-MM-DD">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2 col-md-offset-5">
                <button id="searchBtn" type="button" class="btn btn-primary btn-lg" disabled>
                    <span class="glyphicon glyphicon-plane" aria-hidden="true"></span> Search
                </button>
            </div>
        </div>
        <ul id="dateTabsContent" class="nav nav-tabs"></ul>
        <div id="flights"></div>
    </div>

    <script id="dateTab" type="text/x-jquery-tmpl">
     {{each(i,el) tabs}}
        <li role="presentation" {{if (el.active) }}class="active"{{/if}} ><a id="${el.date}" href="#">${el.date}</a></li>
     {{/each}}
    </script>

    <script id="loadingFlightItems" type="text/x-jquery-tmpl">
        <div class="flights-meta">Loading...</div>
    </script>
    <script id="noFlightItems" type="text/x-jquery-tmpl">
        <div class="flights-meta">Sorry, There are no flights on this day</div>
    </script>
    <script id="flightItem" type="text/x-jquery-tmpl">
     {{each(i,el) flights}}
        <br>
        <div class="panel panel-default" id="${el.key}">
          <div class="panel-body row">
            <div class="col-md-3">
                <div class="price">$${el.price}</div>
            </div>
            <div class="col-md-9 row">
                <div class="col-md-12"><h4>${el.airline.name}</h4></div>
                <div class="col-md-3">
                    <div class="time">${dateFormat(el.start.dateTime,'HH:mm')}</div>
                    ${el.start.cityName}<br>
                    ${dateFormat(el.start.dateTime,'YYYY-MM-DD')}
                </div>
                <div class="col-md-6">
                    Тravel time: ${duration(el.durationMin)}
                    <div class="travel-line"></div>
                    <span class="port departure-port">${el.start.airportCode}</span>
                    <span class="port arrival-port">${el.finish.airportCode}</span>
                </div>
                <div class="col-md-3">
                    <div class="time">${dateFormat(el.finish.dateTime,'HH:mm')}</div>
                    ${el.finish.cityName}<br>
                    ${dateFormat(el.finish.dateTime,'YYYY-MM-DD')}
                </div>
            </div>
          </div>
        </div>
     {{/each}}
    </script>


    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/js/form.js""></script>
</body>
</html>